.container {
    display: flex;
    gap: 80px;
    height: 100vh;
    padding: 4% 8%;
}

/* .flex > *:not(:last-child) {
    margin-right: 80px;
} */

.title {
    text-transform: uppercase;
}

.bgImage {
    background-size: cover;
}