.container {
    display: flex;
    gap: 80px;
    padding: 4% 8%;
    flex-shrink: 0;
    flex-grow: 0;
}

.container1 {
    min-height: 100vh;
}

.container2 {
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50vh;
}

/* .flex > *:not(:last-child) {
    margin-right: 80px;
} */

.item {
    flex: 1 1 0px;
    width: 0;
}

.img {
    max-width: 100%;
}

.title {
    text-transform: uppercase;
}