.container {
    display: flex;
    gap: 80px;
    padding: 4% 8%;
}

.container1 {
    height: 100vh;
}

.container2 {
    height: 100vh;
    align-items: flex-end;
    background-size: cover;
}

/* .flex > *:not(:last-child) {
    margin-right: 80px;
} */

.item {
    flex: 1 1 0px;
    align-content: center;
}

.bottomWrap {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 0px;
}

.imgWrapper {
    text-align: center;
}

.img {
    max-width: 100%;
}

.title {
    text-transform: uppercase;
}