.container {
    display: flex;
    gap: 80px;
    height: 100vh;
    padding: 4% 8%;
}

/* .flex > *:not(:last-child) {
    margin-right: 80px;
} */

.item {
    flex: 1 1 0px;
    align-content: center;
}

.imgWrapper {
    text-align: center;
}

.img {
    max-width: 100%;
}

.title {
    text-transform: uppercase;
}