.container2 {
    justify-content: space-between;
    flex-direction: column;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 0px;
}